.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px; /* Adjust padding as needed */
    background-color: #fffdfd; /* Adjust background color as needed */
    height: 60px; /* Adjust height as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  
  
  
